.gpt3__feature{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    font-family: var(--font-family);
}

.gpt3__feature p{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: var(--color-text);

    max-width: 731px;
}    

.gpt3__feature h3{
    font-family: inherit;
    font-size: 24px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.04em;
    text-align: left;

    color: #fff;
}

.gpt3__feature-bar{
    width: 38px;
    height: 3px;

    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%); 
}

.gpt3__feature--column {
   flex-direction: column;
    align-items: flex-start;
    flex: 1;
    max-width: 334px;
    margin-right: 1rem;
  }