.gpt3__header{
    display: flex;
    flex-direction: row;
}

.gpt3__header-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;

    gap: 50px;
}

.gpt3__header-content > h1{
    font-family: var(--font-family);
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.gpt3__header-content > p{
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    color: var(--color-text);
}

.gpt3__header-content-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.gpt3__header-content-input{
    width: 100%;
    min-height: 50px;
    flex: 2;
    padding: 0.5rem;
    gap: 0px;
    border-radius: 5px 0px 0px 5px;
    opacity: 0px;
    border: none;
    background-color:#052D56 ;

    color: #fff;
    letter-spacing: 0.05rem;
    font-size: 16px;
}
.gpt3__header-content-input-button{
    width: 100%;
    flex: 0.6;
    min-height: 50px;
    border-radius: 0px 5px 5px 0px;
    background: #FF4820;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 27.32px;

    border: none;
    outline: none;
    cursor: pointer;
}

.gpt3__header-content-people-container{
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
}

.gpt3__header-content-people-container img{
    width: 181.79px;
    height: 38px;
}

.gpt3__header-content-people-container p{
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 37.61px;
    color: #fff;
}

.gpt3__header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__header-image img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1100px) {
    .gpt3__header{
        flex-direction: column;
    }
    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}
   

@media screen and (max-width: 650px) {
    .gpt3__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .gpt3__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .gpt3__header-content__people {
        flex-direction: column;
    }

    .gpt3__header-content__people p {
        margin: 0;
    }

    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .gpt3__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .gpt3__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}